* {
  box-sizing: border-box;
}

body {
  background-color: #006445;
  
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  height: 400px;
  overflow: hidden;
 position: absolute;
 display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 200px;
text-decoration: none;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #dbff4a;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  
  
  padding: 1.3rem;
}

button:hover {
  background-color: grey;
}

button:focus {
  outline: none;
  background-color: #44b927;
}

nav {
  display: flex;
  justify-content: space-around;
  flex: 3;
  background-color: #004630;
  display: flex;
  position: sticky;

}
ul {
  display: flex;
  justify-content: space-around;
  flex: 3;
}
.navbar {
  color: #dbff4a;
}
.tcrlogo{
  height: 75px;
  margin: -20px;
  width: auto;}
  a{
    color: #dbff4a;
    text-decoration: none;
}
.quizpuntjes{
 list-style-type: none;
}